@font-face 
{
    font-family: "normal";
    src: url(fonts/Eczar-Regular.ttf);
}

body {
    margin: 0;
    padding: 0;
}

table
{
    font-family: "normal";
    border: 2px solid black;
    text-align: center;
    margin: 5% auto;
}

table td
{
    padding: 0px 7.5px;
}

#ValueCollector p
{
    margin: -5px;
}

#ValueCollector
{
    margin-bottom: 7px;
}