@font-face 
{
    font-family: "normal";
    src: url(Font/FredokaOne-Regular.ttf);
}

body
{
    margin: 0;
    padding: 0;
    font-family: "normal";
    overflow-x: hidden;
}

a 
{
    color: white;
    text-decoration: none;
}

.grid-container .button a
{
    color: black;
    line-height: 10px;
    height: 10px;
    text-align: center;
    width: 75px;
    padding: 2.5px 61px 2.5px 61px;
}

.list-container .button a
{
    color: black;
    line-height: 10px;
    height: 10px;
    text-align: center;
    width: 75px;
    padding: 2.5px 20px 2.5px 20px;
}

.projects .button a
{
    padding: 7.5px 23.5px 7.5px 23.5px;
}

header
{
    width: 100%;
    position: fixed;
    height: 125px;
    z-index: 10;
}

nav
{
    width: 100%;
    height: 120px;
    background-color: rgb(20, 20, 20);
    border-bottom: 5px solid rgb(15, 15, 15);
    z-index: 10;
}
    
.logo img
{
    margin: 25px 0px 0px 0px;
    float: left;
    width: auto;
    height: 75px;
    cursor: pointer;
}
    
.logo h1
{
    float: left;
    margin: 43px 0px 30px 0px;
    padding-left: 5px; 
    font-size: 30px;
    font-weight: 400;
    color: white;
    cursor: pointer;
}

#a-img, #p-img
{
    transition: 0.75s ease;
}

section
{
    width: 100%;
    display: flex;
    justify-content: center;
}

article
{
    display: inline-block;
}

.left
{
    display: block;
    float: left;
    width: 375px;
    height: 375px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.right
{
    display: block;
    float: right;
    width: 375px;
    height: 375px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.about .right
{
    background-color: rgb(20, 20, 20);
}

.about .right img
{
    width: 90%;
    height: 90%;
    margin: 5%;
}

.about .row-3
{
    width: 100%;
    height: 125px;
    cursor: pointer;
    transition: 0.25s ease;
}

.about .fill
{
    width: 100%;
    height: 100%;
    float: left;
    margin-top: -375px;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s ease;
    cursor: pointer;
}

.about .fill p
{
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    margin-top: 50%;
    transform: translateY(-50%);
    font-weight: 400;
    font-size: 14px;
}

.about .row-3 h4
{
    text-align: center;
    padding: 52.5px 0px;
    margin: 0px;
    font-size: 20px;
    font-weight: 400;
}

.projects .left
{
    background-color: rgb(20, 20, 20);
}

.projects .left img
{
    width: 90%;
    height: 90%;
    margin: 5%;
}

.projects .right
{
    text-align: center;
    margin-top: 30px;
}

.projects .right h2
{
    padding-top: 15px;
    margin-top: 0px;
    font-size: 25px;
    font-weight: 400;
    color: rgb(20, 20, 20);
}

.projects .right h4
{
    margin: 0% 5%;
    font-weight: 400;
    color: rgb(20, 20, 20);
}

.projects .right .button
{
    cursor: pointer;
    text-align: center;
    background-color: rgb(20, 20, 20);
    color: white;
    padding: 7px 0px;
    margin: 0px 100px;
    font-weight: 400;
    font-size: 16px;
}

.projects .right .project-section img
{
    width: 20%;
    padding: 5px;
    background-color: rgb(20, 20, 20);
    cursor: pointer;
}

.projects .right .project-section h4
{
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 15px;
}

#instagram, #twitter, #youtube, #itch-io, #github
{
    cursor: pointer;
}

footer
{
    width: 100%;
    height: 60px;
    margin-top: 60px;
    background-color: rgb(20, 20, 20);
    border-top: 5px solid rgb(15, 15, 15);
    color: white;
    font-size: 14px;
}

footer a
{
    font-weight: 400;
}

footer #footer-left
{
    float: left;
    margin-left: 32px;
    cursor: pointer;
}

footer #footer-middle
{
    text-align: center;
}

footer #footer-right
{
    float: right;
    margin-right: 32px;
    cursor: pointer;
}

footer #footer-right:hover, footer #footer-left:hover
{
    text-decoration: underline;
}

.project-page-title
{
    text-align: center;
    padding-top: 145px;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}

.project-page-title h2
{
    font-size: 30px;
    font-weight: 400;
}

.project-page-title h4
{
    font-size: 14px;
    font-weight: 400;
}

.report-title
{
    text-align: center;
    margin-top: 60px;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}

.report-title h2
{
    margin-top: 0px; 
    font-size: 30px;
    font-weight: 400;
}

.report-title h4
{
    font-size: 14px;
    font-weight: 400;
}

.report-box
{
    width: 174px;
    height: auto;
    float: left;
    text-align: center;
    cursor: pointer;
    margin-top: 18px;
}

.report-box img
{
    width: 174px;
    height: auto;
}

.report-box h4
{
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 400;
}

.project-page-games
{
    margin-top: 40px;
}

.project-page-software
{
    margin-top: 60px;
}

.project-page-other
{
    margin-top: 60px;
}

.project-header
{
    height: 60px;
    background-color: rgb(20, 20, 20);
}

.project-header h2
{
    float: left;
    color: white;
    margin: 0px 15px;
    line-height: 60px;
    font-weight: 400;
    font-size: 24px;
}

.grid-container
{
    margin-top: 18px;
    width: 174px;
    height: 174px;
    background-color: rgb(20, 20, 20);
    float: left;
}

.grid-container-overlay
{
    transition: 1s ease;
    opacity: 1;
    visibility: visible;
    width: 100%;
    height: 100%;
    margin: 0%;
}

.grid-container:hover .grid-container-overlay, .grid-container-overlay:hover
{
    transition: 0.25s ease;
    opacity: 0;
    visibility: hidden;
}

.grid-container-overlay img
{
    width: 90%;
    height: 90%;
    margin: 5%;
}

.grid-container-underlay
{
    transition: 0.25s ease;
    opacity: 0;
    visibility: hidden;
}

.grid-container:hover .grid-container-underlay, .grid-container-underlay:hover, .grid-container:hover .button
{
    transition: 1s ease;
    opacity: 1;
    visibility: visible;
}

.grid-container-underlay
{
    position: relative;
    text-align: center;
    width: 90%;
    height: 90%;
    margin: 5%;
    top: -100%;
}

.grid-container-underlay h2
{
    font-size: 18px;
    font-weight: 400;
    color: white;
    margin-top: 0px;
    margin-bottom: 10px;
}

.grid-container-underlay h4
{
    font-size: 13px;
    font-weight: 400;
    color: white;
    margin: 0px;
}

.grid-container .button
{
    position: relative;
    top: -120%;
    cursor: pointer;
    text-align: center;
    background-color: white;
    color: black;
    padding: 3px 0px;
    font-weight: 400;
    font-size: 16px;
    transition: 0.25s ease;
    opacity: 0;
    visibility: hidden;
    width: 90%;
    margin: 0% 5%;
}

.footer-button
{
    width: 60px;
    height: 60px;
    background-color: rgb(20, 20, 20);
    float: left;
    margin: 18px 9px 0px 9px;
    cursor: pointer;
}

.project-footer
{
    position: relative;
    left: 50%;
    margin-left: -78px;
}

.button-minus
{
    background-color: white;
    width: 30px;
    height: 10px;
    margin: 25px 15px;
    position: absolute;
}

.button-plus
{
    background-color: white;
    height: 30px;
    width: 10px;
    margin: 15px 25px;
    position: absolute;
}

#games
{
    position: absolute;
    margin-top: -110px;
}

#software
{
    position: absolute;
    margin-top: -110px;
}

#other
{
    position: absolute;
    margin-top: -110px;
}

@media screen and (min-width: 750px) 
{
    .menu-container
    {
        visibility: hidden;
    }
    
    .menu h4
    {
        float: right;
        margin: 50px 32px;
        color: white;
        font-size: 20px;
        font-weight: 400;
        cursor: pointer;
    }
    
    .menu h4:hover 
    {
        border-bottom: 4px solid white;
        transition: 0.25s ease;
    }
    
    .about .right, .about .left
    {
        margin-top: 185px;
    }
    
    .logo img
    {
        margin-left: 30px;
    }
    
    .column-3
    {
        margin-top: 30px;
        margin-bottom: 30px;
        width: 210px;
        height: 375px;
        background-color: rgb(20, 20, 20);
        float: left;
    }
    
    .column-3 hr
    {
        color: white;
        background-color: white;
        margin: 0% 15%;
        height: 3px;
    }
    
    .column-2 hr
    {
        color: white;
        background-color: white;
        margin: 0% 15%;
        height: 3px;
    }
    
    #column-3-center
    {
        margin-left: 60px;
        margin-right: 60px;
    }
    
    .column-2
    {
        margin-top: 30px;
        width: 210px;
        height: 375px;
        background-color: rgb(20, 20, 20);
    }
    
    #column-2-left
    {
        float: left;
        margin-right: 30px;
    }
    
    #column-2-right
    {
        float: right;
        margin-left: 30px;
    }
    
    #instagram, #twitter {
        height: 170px;
        width: auto;
        padding: 20px;
    }

    #youtube {
        width: 134px;
        height: auto;
        padding: 58px 38px;
    }
    
    #itch-io
    {
        height: 134px;
        width: auto;
        padding: 38px 30px;
    }
    
    #github
    {
        height: 134px;
        width: auto;
        padding: 38px 36px;
    }
    
    .column-2 h2, .column-3 h2
    {
        color: white;
        font-size: 20px;
        text-align: center;
        font-weight: 400;
    }
    
    .column-2 h4, .column-3 h4
    {
        color: white;
        font-size: 14px;
        text-align: center;
        font-weight: 400;
        margin: 0px 10px;
    }
    
    .expanded
    {
        display: block;
    }
    
    .short
    {
        display: none;
    }
    
    #about 
    {
        position: absolute;
        top: 60px;
    }
    
    #projects
    {
        position: absolute;
        top: 497px;
    }
    
    #follow-expanded
    {
        position: absolute;
        top: 930px;
    }
    
    .project-header
    {
        width: 750px;
    }
    
    .project-header img
    {
        float: right;
        height: 30px;
        width: auto;
        margin: 15px;
        cursor: pointer;
    }

    .project-header .vl
    {
        width: 2px;
        height: 40px;
        background-color: white;
        float: right;
        margin-top: 10px;
    }
    
    .games-grid-section
    {
        width: 750px;
        height: auto;
    }
    
    #grid-1
    {
        margin-right: 18px;
    }
    
    #grid-4
    {
        margin-left: 18px;
    }
    
    #grid-2
    {
        margin-right: 9px;
    }
    
    #grid-3
    {
        margin-left: 9px;
    }
    
    .list-container
    {
        width: 100%;
        height: 174px;
        background-color: rgb(20, 20, 20);
        margin-top: 18px;
    }
    
    .list-container img
    {
        margin: 8px;
        width: 158px;
        height: 158px;
        float: left;
    }
    
    .list-container h2
    {
        color: white;
        position: absolute;
        margin: 8px 0px 0px 178px;
        font-size: 18px;
        font-weight: 400;
    }
    
    .list-container h4
    {
        color: white;
        position: absolute;
        margin: 40px 0px 0px 178px;
        font-size: 13px;
        font-weight: 400;
    }
    
    .list-container h5
    {
        color: white;
        position: absolute;
        margin: 8px 8px 8px 527px;
        font-size: 13px;
        font-weight: 400;
        text-align: center;
        width: 215px;
    }
    
    .list-container .vl
    {
        width: 2px;
        height: 158px;
        background-color: white;
        position: absolute;
        margin-left: 519px;
        margin-top: 8px;
    }
    
    .list-container .button
    {
        position: absolute;
        cursor: pointer;
        text-align: center;
        background-color: white;
        color: black;
        font-weight: 400;
        font-size: 16px;
        line-height: 25px;
        width: 75px;
        height: 25px;
        margin: 141px 0px 0px 599.5px;
    }
    
    .report-categories
    {
        width: 750px;
        margin: auto;
    }
}

@media screen and (max-width: 550px)
{
    footer
    {
        height: 80px;
    }
    
    footer #footer-left, footer #footer-middle, footer #footer-right
    {
        float: none;
        text-align: center;
        margin: 5px 0px;
    }
}

@media screen and (max-width: 749px) 
{    
    .logo img
    {
        float: none;
        margin: 15px 0px 0px 0px;
    }
    
    .logo h1 
    {
        float: none;
        margin: 33px 0px 30px 0px;
    }
    
    .logo
    {
        display: flex;
        justify-content: center;
    }
    
    .left
    {
        margin-bottom: 0px;
        float: none;
    }
    
    .right 
    {
        margin-top: 0px;
        float: none;
    }
    
    .about .left
    {
        margin-top: 185px;
    }
    
    .menu
    {
        visibility: hidden;
    }
    
    .hidden-menu
    {
        visibility: hidden;
        position: absolute;
        width: 120px;
        height: 0px;
        margin-left: -45px;
        background-color: rgb(20, 20, 20);
        border-bottom: 5px solid rgb(15, 15, 15);
        border-left: 5px solid rgb(15, 15, 15);
        border-right: 5px solid rgb(15, 15, 15);
    }
    
    .hidden-menu h4
    {
        opacity: 0;
        font-size: 16px;
        font-weight: 400;
        color: white;
        text-align: center;
    }
    
    .menu-container
    {
        z-index: 11;
        cursor: pointer;
        position: absolute;
        left: 50%;
        margin-left: -20px;
        top: 75px;
    }
    
    .menu-line
    {
        transition: 0.2s ease;
        background-color: white;
        width: 40px;
        height: 5px;
        margin: 5px 0px;
    }
    
    .expanded
    {
        display: none;
    }
    
    .short
    {
        display: block;
    }
    
    .small-3
    {
        margin-top: 0px;
        width: 125px;
        height: 125px;
        background-color: rgb(20, 20, 20);
        float: left;
    }
    
    .small-2
    {
        margin-top: 0px;
        width: 125px;
        height: 125px;
        background-color: rgb(20, 20, 20);
        float: left;
    }
    
    .projects .right
    {
        margin-top: 0px;
        margin-bottom: 60px;
    }
    
    .projects .right h2
    {
        margin-top: 0px;
    }
    
    #instagram, #twitter {
        height: 95px;
        width: auto;
        padding: 15px;
    }

    #youtube {
        width: 75px;
        height: auto;
        padding: 36px 25px;
    }
    
    #itch-io
    {
        height: 75px;
        width: auto;
        padding: 25px 21px;
    }
    
    #github
    {
        height: 75px;
        width: auto;
        padding: 25px 24px;
    }
    
    #about 
    {
        position: absolute;
        top: 62px;
    }
    
    #projects
    {
        position: absolute;
        top: 872px;
    }
    
    #follow-short
    {
        position: absolute;
        top: 1375px;
    }
    
    .project-header
    {
        width: 375px;
    }
    
    .project-header img
    {
        display: none;
    }

    .project-header .vl
    {
        display: none;
    }
    
    .project-header h2
    {
        float: none;
        text-align: center;
    }
    
    .games-grid-section, .software-grid-section, .other-grid-section
    {
        width: 375px;
        height: auto;
    }
    
    #grid-1
    {
        margin-right: 13.5px;
    }
    
    #grid-2
    {
        margin-left: 13.5px;
    }
    
    #grid-3
    {
        margin-right: 13.5px;
    }
    
    #grid-4
    {
        margin-left: 13.5px;
    }
    
    .grid-container
    {
        margin-top: 27px;
    }
    
    .games-list-section, .software-list-section, .other-list-section
    {
        display: none;
    }
    
    .games-grid-section, .software-grid-section, .other-grid-section
    {
        display: block;
    }
    
    .footer-button
    {
        margin: 27px 13.5px 0px 13.5px;
    }
    
    .project-footer
    {
        margin-left: -87px;
    }
    
    .report-categories
    {
        width: 375px;
        margin: auto;
    }
    
    .report-box
    {
        margin-top: 27px;
    }
    
}

@media screen and (max-width: 374px) 
{
    .small-3, .small-2
    {
        margin-top: 30px;
        float: none;
    }
    
    #follow-short
    {
        position: absolute;
        top: 1682px;
    }
}